!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Refresh-Coding
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = javascript_tag "application", "data-turbolinks-track": "reload"
    %link{:crossorigin => "anonymous", :href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css", :integrity => "sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==", :referrerpolicy => "no-referrer", :rel => "stylesheet"}/
    %link{:href => "https://unpkg.com/trix@2.0.0/dist/trix.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js", :type => "text/javascript"}
   
  %body
    = render "layouts/header"
    = render "layouts/messages"
        
    .container
      %p
      = yield
